html {
  font-size: 62.5%;
}

body {
  font-family: "Maven Pro", sans-serif;
  background: #145DA0;
  overflow-y: auto;
  font-weight: 300;
  color: #B1D4E0;
}

h1, h2, h3, h4, h5, h6 {
  color: #B1D4E0;
  margin-bottom: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.4rem;
  color: #fff;
}

.nav {
  display: block;
  margin-top: 50px;
}
.nav li a {
  display: inline-block;
  text-decoration: none;
  opacity: 0.5;
  font-size: 1.6rem;
  padding: 10px 50px;
  color: #fff;
  position: relative;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav li a::before {
  content: "";
  width: 30px;
  height: 1px;
  background: #f0f0f0;
  position: absolute;
  left: 0px;
  top: 22px;
}
.nav li a:hover, .nav li a.active {
  opacity: 1;
  padding-left: 70px;
}
.nav li a:hover::before, .nav li a.active::before {
  width: 60px;
}

p {
  font-size: 1.5rem;
  color: #B1D4E0;
}

strong {
  font-weight: 700;
  color: #fff;
}

.color-blue {
  background-color: #145da0;
}

.color-gray {
  background-color: #5d5860;
}
.color-gray .bg-info {
  background: #212121 !important;
}

.color-black {
  background-color: rgb(31, 10, 29);
}
.color-black .bg-info {
  background: #afafaf !important;
  color: #000;
}

.color-green {
  background-color: rgb(14, 37, 0);
}
.color-green .bg-info {
  background: #afafaf !important;
  color: #000;
}

.color-red {
  background-color: rgb(37, 0, 0);
}
.color-red .bg-info {
  background: #afafaf !important;
  color: #000;
}

@media (min-width: 768px) {
  .fixed {
    position: fixed;
  }
  .col-lg-7 {
    margin-left: 50.6667%;
  }
  .social-icons {
    position: fixed;
  }
}
section {
  padding: 20px 0;
}

.exp-wrap {
  margin-top: 10px;
}
.exp-wrap .duration {
  font-size: 1.4rem;
}
.exp-wrap .company {
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 1;
  color: #fff;
}
.exp-wrap .designation {
  font-size: 1.2rem;
  color: #fff;
}

.badge {
  color: #000;
  font-size: 1.2rem;
  padding: 8px 10px;
  color: #B1D4E0;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 2px;
}

.bg-info {
  background-color: #062e63 !important;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 160px;
  justify-content: space-between;
  bottom: 100px;
}
.social-icons li a {
  display: block;
  font-size: 3.4rem;
  color: #fff;
  opacity: 0.3;
  transition: 0.3s all;
}
.social-icons li a:hover {
  opacity: 1;
}

.margin-top-0 {
  margin-top: 0rem;
}

.margin-top-1 {
  margin-top: 0.25rem;
}

.margin-top-2 {
  margin-top: 0.5rem;
}

.margin-top-3 {
  margin-top: 0.75rem;
}

.margin-top-4 {
  margin-top: 1rem;
}

.margin-top-5 {
  margin-top: 1.25rem;
}

.margin-top-6 {
  margin-top: 1.5rem;
}

.margin-top-7 {
  margin-top: 1.75rem;
}

.margin-top-8 {
  margin-top: 2rem;
}

.margin-top-9 {
  margin-top: 2.25rem;
}

.margin-top-10 {
  margin-top: 2.5rem;
}

.margin-top-11 {
  margin-top: 2.75rem;
}

.margin-top-12 {
  margin-top: 3rem;
}

.margin-top-13 {
  margin-top: 3.25rem;
}

.margin-top-14 {
  margin-top: 3.5rem;
}

.margin-top-15 {
  margin-top: 3.75rem;
}

.margin-top-16 {
  margin-top: 4rem;
}

.margin-top-17 {
  margin-top: 4.25rem;
}

.margin-top-18 {
  margin-top: 4.5rem;
}

.margin-top-19 {
  margin-top: 4.75rem;
}

.margin-top-20 {
  margin-top: 5rem;
}

.margin-top-21 {
  margin-top: 5.25rem;
}

.margin-top-22 {
  margin-top: 5.5rem;
}

.margin-top-23 {
  margin-top: 5.75rem;
}

.margin-top-24 {
  margin-top: 6rem;
}

.margin-top-25 {
  margin-top: 6.25rem;
}

.margin-top-26 {
  margin-top: 6.5rem;
}

.margin-top-27 {
  margin-top: 6.75rem;
}

.margin-top-28 {
  margin-top: 7rem;
}

.margin-top-29 {
  margin-top: 7.25rem;
}

.margin-top-30 {
  margin-top: 7.5rem;
}

.margin-top-31 {
  margin-top: 7.75rem;
}

.margin-top-32 {
  margin-top: 8rem;
}

.margin-top-33 {
  margin-top: 8.25rem;
}

.margin-top-34 {
  margin-top: 8.5rem;
}

.margin-top-35 {
  margin-top: 8.75rem;
}

.margin-top-36 {
  margin-top: 9rem;
}

.margin-top-37 {
  margin-top: 9.25rem;
}

.margin-top-38 {
  margin-top: 9.5rem;
}

.margin-top-39 {
  margin-top: 9.75rem;
}

.margin-top-40 {
  margin-top: 10rem;
}

.margin-top-41 {
  margin-top: 10.25rem;
}

.margin-top-42 {
  margin-top: 10.5rem;
}

.margin-top-43 {
  margin-top: 10.75rem;
}

.margin-top-44 {
  margin-top: 11rem;
}

.margin-top-45 {
  margin-top: 11.25rem;
}

.margin-top-46 {
  margin-top: 11.5rem;
}

.margin-top-47 {
  margin-top: 11.75rem;
}

.margin-top-48 {
  margin-top: 12rem;
}

.margin-top-49 {
  margin-top: 12.25rem;
}

.margin-top-50 {
  margin-top: 12.5rem;
}

.margin-top-51 {
  margin-top: 12.75rem;
}

.margin-top-52 {
  margin-top: 13rem;
}

.margin-top-53 {
  margin-top: 13.25rem;
}

.margin-top-54 {
  margin-top: 13.5rem;
}

.margin-top-55 {
  margin-top: 13.75rem;
}

.margin-top-56 {
  margin-top: 14rem;
}

.margin-top-57 {
  margin-top: 14.25rem;
}

.margin-top-58 {
  margin-top: 14.5rem;
}

.margin-top-59 {
  margin-top: 14.75rem;
}

.margin-top-60 {
  margin-top: 15rem;
}

.margin-top-61 {
  margin-top: 15.25rem;
}

.margin-top-62 {
  margin-top: 15.5rem;
}

.margin-top-63 {
  margin-top: 15.75rem;
}

.margin-top-64 {
  margin-top: 16rem;
}

.margin-top-65 {
  margin-top: 16.25rem;
}

.margin-top-66 {
  margin-top: 16.5rem;
}

.margin-top-67 {
  margin-top: 16.75rem;
}

.margin-top-68 {
  margin-top: 17rem;
}

.margin-top-69 {
  margin-top: 17.25rem;
}

.margin-top-70 {
  margin-top: 17.5rem;
}

.margin-top-71 {
  margin-top: 17.75rem;
}

.margin-top-72 {
  margin-top: 18rem;
}

.margin-top-73 {
  margin-top: 18.25rem;
}

.margin-top-74 {
  margin-top: 18.5rem;
}

.margin-top-75 {
  margin-top: 18.75rem;
}

.margin-top-76 {
  margin-top: 19rem;
}

.margin-top-77 {
  margin-top: 19.25rem;
}

.margin-top-78 {
  margin-top: 19.5rem;
}

.margin-top-79 {
  margin-top: 19.75rem;
}

.margin-top-80 {
  margin-top: 20rem;
}

.margin-top-81 {
  margin-top: 20.25rem;
}

.margin-top-82 {
  margin-top: 20.5rem;
}

.margin-top-83 {
  margin-top: 20.75rem;
}

.margin-top-84 {
  margin-top: 21rem;
}

.margin-top-85 {
  margin-top: 21.25rem;
}

.margin-top-86 {
  margin-top: 21.5rem;
}

.margin-top-87 {
  margin-top: 21.75rem;
}

.margin-top-88 {
  margin-top: 22rem;
}

.margin-top-89 {
  margin-top: 22.25rem;
}

.margin-top-90 {
  margin-top: 22.5rem;
}

.margin-top-91 {
  margin-top: 22.75rem;
}

.margin-top-92 {
  margin-top: 23rem;
}

.margin-top-93 {
  margin-top: 23.25rem;
}

.margin-top-94 {
  margin-top: 23.5rem;
}

.margin-top-95 {
  margin-top: 23.75rem;
}

.margin-top-96 {
  margin-top: 24rem;
}

.margin-top-97 {
  margin-top: 24.25rem;
}

.margin-top-98 {
  margin-top: 24.5rem;
}

.margin-top-99 {
  margin-top: 24.75rem;
}

.margin-top-100 {
  margin-top: 25rem;
}

.margin-right-0 {
  margin-right: 0rem;
}

.margin-right-1 {
  margin-right: 0.25rem;
}

.margin-right-2 {
  margin-right: 0.5rem;
}

.margin-right-3 {
  margin-right: 0.75rem;
}

.margin-right-4 {
  margin-right: 1rem;
}

.margin-right-5 {
  margin-right: 1.25rem;
}

.margin-right-6 {
  margin-right: 1.5rem;
}

.margin-right-7 {
  margin-right: 1.75rem;
}

.margin-right-8 {
  margin-right: 2rem;
}

.margin-right-9 {
  margin-right: 2.25rem;
}

.margin-right-10 {
  margin-right: 2.5rem;
}

.margin-right-11 {
  margin-right: 2.75rem;
}

.margin-right-12 {
  margin-right: 3rem;
}

.margin-right-13 {
  margin-right: 3.25rem;
}

.margin-right-14 {
  margin-right: 3.5rem;
}

.margin-right-15 {
  margin-right: 3.75rem;
}

.margin-right-16 {
  margin-right: 4rem;
}

.margin-right-17 {
  margin-right: 4.25rem;
}

.margin-right-18 {
  margin-right: 4.5rem;
}

.margin-right-19 {
  margin-right: 4.75rem;
}

.margin-right-20 {
  margin-right: 5rem;
}

.margin-right-21 {
  margin-right: 5.25rem;
}

.margin-right-22 {
  margin-right: 5.5rem;
}

.margin-right-23 {
  margin-right: 5.75rem;
}

.margin-right-24 {
  margin-right: 6rem;
}

.margin-right-25 {
  margin-right: 6.25rem;
}

.margin-right-26 {
  margin-right: 6.5rem;
}

.margin-right-27 {
  margin-right: 6.75rem;
}

.margin-right-28 {
  margin-right: 7rem;
}

.margin-right-29 {
  margin-right: 7.25rem;
}

.margin-right-30 {
  margin-right: 7.5rem;
}

.margin-right-31 {
  margin-right: 7.75rem;
}

.margin-right-32 {
  margin-right: 8rem;
}

.margin-right-33 {
  margin-right: 8.25rem;
}

.margin-right-34 {
  margin-right: 8.5rem;
}

.margin-right-35 {
  margin-right: 8.75rem;
}

.margin-right-36 {
  margin-right: 9rem;
}

.margin-right-37 {
  margin-right: 9.25rem;
}

.margin-right-38 {
  margin-right: 9.5rem;
}

.margin-right-39 {
  margin-right: 9.75rem;
}

.margin-right-40 {
  margin-right: 10rem;
}

.margin-right-41 {
  margin-right: 10.25rem;
}

.margin-right-42 {
  margin-right: 10.5rem;
}

.margin-right-43 {
  margin-right: 10.75rem;
}

.margin-right-44 {
  margin-right: 11rem;
}

.margin-right-45 {
  margin-right: 11.25rem;
}

.margin-right-46 {
  margin-right: 11.5rem;
}

.margin-right-47 {
  margin-right: 11.75rem;
}

.margin-right-48 {
  margin-right: 12rem;
}

.margin-right-49 {
  margin-right: 12.25rem;
}

.margin-right-50 {
  margin-right: 12.5rem;
}

.margin-right-51 {
  margin-right: 12.75rem;
}

.margin-right-52 {
  margin-right: 13rem;
}

.margin-right-53 {
  margin-right: 13.25rem;
}

.margin-right-54 {
  margin-right: 13.5rem;
}

.margin-right-55 {
  margin-right: 13.75rem;
}

.margin-right-56 {
  margin-right: 14rem;
}

.margin-right-57 {
  margin-right: 14.25rem;
}

.margin-right-58 {
  margin-right: 14.5rem;
}

.margin-right-59 {
  margin-right: 14.75rem;
}

.margin-right-60 {
  margin-right: 15rem;
}

.margin-right-61 {
  margin-right: 15.25rem;
}

.margin-right-62 {
  margin-right: 15.5rem;
}

.margin-right-63 {
  margin-right: 15.75rem;
}

.margin-right-64 {
  margin-right: 16rem;
}

.margin-right-65 {
  margin-right: 16.25rem;
}

.margin-right-66 {
  margin-right: 16.5rem;
}

.margin-right-67 {
  margin-right: 16.75rem;
}

.margin-right-68 {
  margin-right: 17rem;
}

.margin-right-69 {
  margin-right: 17.25rem;
}

.margin-right-70 {
  margin-right: 17.5rem;
}

.margin-right-71 {
  margin-right: 17.75rem;
}

.margin-right-72 {
  margin-right: 18rem;
}

.margin-right-73 {
  margin-right: 18.25rem;
}

.margin-right-74 {
  margin-right: 18.5rem;
}

.margin-right-75 {
  margin-right: 18.75rem;
}

.margin-right-76 {
  margin-right: 19rem;
}

.margin-right-77 {
  margin-right: 19.25rem;
}

.margin-right-78 {
  margin-right: 19.5rem;
}

.margin-right-79 {
  margin-right: 19.75rem;
}

.margin-right-80 {
  margin-right: 20rem;
}

.margin-right-81 {
  margin-right: 20.25rem;
}

.margin-right-82 {
  margin-right: 20.5rem;
}

.margin-right-83 {
  margin-right: 20.75rem;
}

.margin-right-84 {
  margin-right: 21rem;
}

.margin-right-85 {
  margin-right: 21.25rem;
}

.margin-right-86 {
  margin-right: 21.5rem;
}

.margin-right-87 {
  margin-right: 21.75rem;
}

.margin-right-88 {
  margin-right: 22rem;
}

.margin-right-89 {
  margin-right: 22.25rem;
}

.margin-right-90 {
  margin-right: 22.5rem;
}

.margin-right-91 {
  margin-right: 22.75rem;
}

.margin-right-92 {
  margin-right: 23rem;
}

.margin-right-93 {
  margin-right: 23.25rem;
}

.margin-right-94 {
  margin-right: 23.5rem;
}

.margin-right-95 {
  margin-right: 23.75rem;
}

.margin-right-96 {
  margin-right: 24rem;
}

.margin-right-97 {
  margin-right: 24.25rem;
}

.margin-right-98 {
  margin-right: 24.5rem;
}

.margin-right-99 {
  margin-right: 24.75rem;
}

.margin-right-100 {
  margin-right: 25rem;
}

.margin-bottom-0 {
  margin-bottom: 0rem;
}

.margin-bottom-1 {
  margin-bottom: 0.25rem;
}

.margin-bottom-2 {
  margin-bottom: 0.5rem;
}

.margin-bottom-3 {
  margin-bottom: 0.75rem;
}

.margin-bottom-4 {
  margin-bottom: 1rem;
}

.margin-bottom-5 {
  margin-bottom: 1.25rem;
}

.margin-bottom-6 {
  margin-bottom: 1.5rem;
}

.margin-bottom-7 {
  margin-bottom: 1.75rem;
}

.margin-bottom-8 {
  margin-bottom: 2rem;
}

.margin-bottom-9 {
  margin-bottom: 2.25rem;
}

.margin-bottom-10 {
  margin-bottom: 2.5rem;
}

.margin-bottom-11 {
  margin-bottom: 2.75rem;
}

.margin-bottom-12 {
  margin-bottom: 3rem;
}

.margin-bottom-13 {
  margin-bottom: 3.25rem;
}

.margin-bottom-14 {
  margin-bottom: 3.5rem;
}

.margin-bottom-15 {
  margin-bottom: 3.75rem;
}

.margin-bottom-16 {
  margin-bottom: 4rem;
}

.margin-bottom-17 {
  margin-bottom: 4.25rem;
}

.margin-bottom-18 {
  margin-bottom: 4.5rem;
}

.margin-bottom-19 {
  margin-bottom: 4.75rem;
}

.margin-bottom-20 {
  margin-bottom: 5rem;
}

.margin-bottom-21 {
  margin-bottom: 5.25rem;
}

.margin-bottom-22 {
  margin-bottom: 5.5rem;
}

.margin-bottom-23 {
  margin-bottom: 5.75rem;
}

.margin-bottom-24 {
  margin-bottom: 6rem;
}

.margin-bottom-25 {
  margin-bottom: 6.25rem;
}

.margin-bottom-26 {
  margin-bottom: 6.5rem;
}

.margin-bottom-27 {
  margin-bottom: 6.75rem;
}

.margin-bottom-28 {
  margin-bottom: 7rem;
}

.margin-bottom-29 {
  margin-bottom: 7.25rem;
}

.margin-bottom-30 {
  margin-bottom: 7.5rem;
}

.margin-bottom-31 {
  margin-bottom: 7.75rem;
}

.margin-bottom-32 {
  margin-bottom: 8rem;
}

.margin-bottom-33 {
  margin-bottom: 8.25rem;
}

.margin-bottom-34 {
  margin-bottom: 8.5rem;
}

.margin-bottom-35 {
  margin-bottom: 8.75rem;
}

.margin-bottom-36 {
  margin-bottom: 9rem;
}

.margin-bottom-37 {
  margin-bottom: 9.25rem;
}

.margin-bottom-38 {
  margin-bottom: 9.5rem;
}

.margin-bottom-39 {
  margin-bottom: 9.75rem;
}

.margin-bottom-40 {
  margin-bottom: 10rem;
}

.margin-bottom-41 {
  margin-bottom: 10.25rem;
}

.margin-bottom-42 {
  margin-bottom: 10.5rem;
}

.margin-bottom-43 {
  margin-bottom: 10.75rem;
}

.margin-bottom-44 {
  margin-bottom: 11rem;
}

.margin-bottom-45 {
  margin-bottom: 11.25rem;
}

.margin-bottom-46 {
  margin-bottom: 11.5rem;
}

.margin-bottom-47 {
  margin-bottom: 11.75rem;
}

.margin-bottom-48 {
  margin-bottom: 12rem;
}

.margin-bottom-49 {
  margin-bottom: 12.25rem;
}

.margin-bottom-50 {
  margin-bottom: 12.5rem;
}

.margin-bottom-51 {
  margin-bottom: 12.75rem;
}

.margin-bottom-52 {
  margin-bottom: 13rem;
}

.margin-bottom-53 {
  margin-bottom: 13.25rem;
}

.margin-bottom-54 {
  margin-bottom: 13.5rem;
}

.margin-bottom-55 {
  margin-bottom: 13.75rem;
}

.margin-bottom-56 {
  margin-bottom: 14rem;
}

.margin-bottom-57 {
  margin-bottom: 14.25rem;
}

.margin-bottom-58 {
  margin-bottom: 14.5rem;
}

.margin-bottom-59 {
  margin-bottom: 14.75rem;
}

.margin-bottom-60 {
  margin-bottom: 15rem;
}

.margin-bottom-61 {
  margin-bottom: 15.25rem;
}

.margin-bottom-62 {
  margin-bottom: 15.5rem;
}

.margin-bottom-63 {
  margin-bottom: 15.75rem;
}

.margin-bottom-64 {
  margin-bottom: 16rem;
}

.margin-bottom-65 {
  margin-bottom: 16.25rem;
}

.margin-bottom-66 {
  margin-bottom: 16.5rem;
}

.margin-bottom-67 {
  margin-bottom: 16.75rem;
}

.margin-bottom-68 {
  margin-bottom: 17rem;
}

.margin-bottom-69 {
  margin-bottom: 17.25rem;
}

.margin-bottom-70 {
  margin-bottom: 17.5rem;
}

.margin-bottom-71 {
  margin-bottom: 17.75rem;
}

.margin-bottom-72 {
  margin-bottom: 18rem;
}

.margin-bottom-73 {
  margin-bottom: 18.25rem;
}

.margin-bottom-74 {
  margin-bottom: 18.5rem;
}

.margin-bottom-75 {
  margin-bottom: 18.75rem;
}

.margin-bottom-76 {
  margin-bottom: 19rem;
}

.margin-bottom-77 {
  margin-bottom: 19.25rem;
}

.margin-bottom-78 {
  margin-bottom: 19.5rem;
}

.margin-bottom-79 {
  margin-bottom: 19.75rem;
}

.margin-bottom-80 {
  margin-bottom: 20rem;
}

.margin-bottom-81 {
  margin-bottom: 20.25rem;
}

.margin-bottom-82 {
  margin-bottom: 20.5rem;
}

.margin-bottom-83 {
  margin-bottom: 20.75rem;
}

.margin-bottom-84 {
  margin-bottom: 21rem;
}

.margin-bottom-85 {
  margin-bottom: 21.25rem;
}

.margin-bottom-86 {
  margin-bottom: 21.5rem;
}

.margin-bottom-87 {
  margin-bottom: 21.75rem;
}

.margin-bottom-88 {
  margin-bottom: 22rem;
}

.margin-bottom-89 {
  margin-bottom: 22.25rem;
}

.margin-bottom-90 {
  margin-bottom: 22.5rem;
}

.margin-bottom-91 {
  margin-bottom: 22.75rem;
}

.margin-bottom-92 {
  margin-bottom: 23rem;
}

.margin-bottom-93 {
  margin-bottom: 23.25rem;
}

.margin-bottom-94 {
  margin-bottom: 23.5rem;
}

.margin-bottom-95 {
  margin-bottom: 23.75rem;
}

.margin-bottom-96 {
  margin-bottom: 24rem;
}

.margin-bottom-97 {
  margin-bottom: 24.25rem;
}

.margin-bottom-98 {
  margin-bottom: 24.5rem;
}

.margin-bottom-99 {
  margin-bottom: 24.75rem;
}

.margin-bottom-100 {
  margin-bottom: 25rem;
}

.margin-left-0 {
  margin-left: 0rem;
}

.margin-left-1 {
  margin-left: 0.25rem;
}

.margin-left-2 {
  margin-left: 0.5rem;
}

.margin-left-3 {
  margin-left: 0.75rem;
}

.margin-left-4 {
  margin-left: 1rem;
}

.margin-left-5 {
  margin-left: 1.25rem;
}

.margin-left-6 {
  margin-left: 1.5rem;
}

.margin-left-7 {
  margin-left: 1.75rem;
}

.margin-left-8 {
  margin-left: 2rem;
}

.margin-left-9 {
  margin-left: 2.25rem;
}

.margin-left-10 {
  margin-left: 2.5rem;
}

.margin-left-11 {
  margin-left: 2.75rem;
}

.margin-left-12 {
  margin-left: 3rem;
}

.margin-left-13 {
  margin-left: 3.25rem;
}

.margin-left-14 {
  margin-left: 3.5rem;
}

.margin-left-15 {
  margin-left: 3.75rem;
}

.margin-left-16 {
  margin-left: 4rem;
}

.margin-left-17 {
  margin-left: 4.25rem;
}

.margin-left-18 {
  margin-left: 4.5rem;
}

.margin-left-19 {
  margin-left: 4.75rem;
}

.margin-left-20 {
  margin-left: 5rem;
}

.margin-left-21 {
  margin-left: 5.25rem;
}

.margin-left-22 {
  margin-left: 5.5rem;
}

.margin-left-23 {
  margin-left: 5.75rem;
}

.margin-left-24 {
  margin-left: 6rem;
}

.margin-left-25 {
  margin-left: 6.25rem;
}

.margin-left-26 {
  margin-left: 6.5rem;
}

.margin-left-27 {
  margin-left: 6.75rem;
}

.margin-left-28 {
  margin-left: 7rem;
}

.margin-left-29 {
  margin-left: 7.25rem;
}

.margin-left-30 {
  margin-left: 7.5rem;
}

.margin-left-31 {
  margin-left: 7.75rem;
}

.margin-left-32 {
  margin-left: 8rem;
}

.margin-left-33 {
  margin-left: 8.25rem;
}

.margin-left-34 {
  margin-left: 8.5rem;
}

.margin-left-35 {
  margin-left: 8.75rem;
}

.margin-left-36 {
  margin-left: 9rem;
}

.margin-left-37 {
  margin-left: 9.25rem;
}

.margin-left-38 {
  margin-left: 9.5rem;
}

.margin-left-39 {
  margin-left: 9.75rem;
}

.margin-left-40 {
  margin-left: 10rem;
}

.margin-left-41 {
  margin-left: 10.25rem;
}

.margin-left-42 {
  margin-left: 10.5rem;
}

.margin-left-43 {
  margin-left: 10.75rem;
}

.margin-left-44 {
  margin-left: 11rem;
}

.margin-left-45 {
  margin-left: 11.25rem;
}

.margin-left-46 {
  margin-left: 11.5rem;
}

.margin-left-47 {
  margin-left: 11.75rem;
}

.margin-left-48 {
  margin-left: 12rem;
}

.margin-left-49 {
  margin-left: 12.25rem;
}

.margin-left-50 {
  margin-left: 12.5rem;
}

.margin-left-51 {
  margin-left: 12.75rem;
}

.margin-left-52 {
  margin-left: 13rem;
}

.margin-left-53 {
  margin-left: 13.25rem;
}

.margin-left-54 {
  margin-left: 13.5rem;
}

.margin-left-55 {
  margin-left: 13.75rem;
}

.margin-left-56 {
  margin-left: 14rem;
}

.margin-left-57 {
  margin-left: 14.25rem;
}

.margin-left-58 {
  margin-left: 14.5rem;
}

.margin-left-59 {
  margin-left: 14.75rem;
}

.margin-left-60 {
  margin-left: 15rem;
}

.margin-left-61 {
  margin-left: 15.25rem;
}

.margin-left-62 {
  margin-left: 15.5rem;
}

.margin-left-63 {
  margin-left: 15.75rem;
}

.margin-left-64 {
  margin-left: 16rem;
}

.margin-left-65 {
  margin-left: 16.25rem;
}

.margin-left-66 {
  margin-left: 16.5rem;
}

.margin-left-67 {
  margin-left: 16.75rem;
}

.margin-left-68 {
  margin-left: 17rem;
}

.margin-left-69 {
  margin-left: 17.25rem;
}

.margin-left-70 {
  margin-left: 17.5rem;
}

.margin-left-71 {
  margin-left: 17.75rem;
}

.margin-left-72 {
  margin-left: 18rem;
}

.margin-left-73 {
  margin-left: 18.25rem;
}

.margin-left-74 {
  margin-left: 18.5rem;
}

.margin-left-75 {
  margin-left: 18.75rem;
}

.margin-left-76 {
  margin-left: 19rem;
}

.margin-left-77 {
  margin-left: 19.25rem;
}

.margin-left-78 {
  margin-left: 19.5rem;
}

.margin-left-79 {
  margin-left: 19.75rem;
}

.margin-left-80 {
  margin-left: 20rem;
}

.margin-left-81 {
  margin-left: 20.25rem;
}

.margin-left-82 {
  margin-left: 20.5rem;
}

.margin-left-83 {
  margin-left: 20.75rem;
}

.margin-left-84 {
  margin-left: 21rem;
}

.margin-left-85 {
  margin-left: 21.25rem;
}

.margin-left-86 {
  margin-left: 21.5rem;
}

.margin-left-87 {
  margin-left: 21.75rem;
}

.margin-left-88 {
  margin-left: 22rem;
}

.margin-left-89 {
  margin-left: 22.25rem;
}

.margin-left-90 {
  margin-left: 22.5rem;
}

.margin-left-91 {
  margin-left: 22.75rem;
}

.margin-left-92 {
  margin-left: 23rem;
}

.margin-left-93 {
  margin-left: 23.25rem;
}

.margin-left-94 {
  margin-left: 23.5rem;
}

.margin-left-95 {
  margin-left: 23.75rem;
}

.margin-left-96 {
  margin-left: 24rem;
}

.margin-left-97 {
  margin-left: 24.25rem;
}

.margin-left-98 {
  margin-left: 24.5rem;
}

.margin-left-99 {
  margin-left: 24.75rem;
}

.margin-left-100 {
  margin-left: 25rem;
}

.padding-top-0 {
  padding-top: 0rem;
}

.padding-top-1 {
  padding-top: 0.25rem;
}

.padding-top-2 {
  padding-top: 0.5rem;
}

.padding-top-3 {
  padding-top: 0.75rem;
}

.padding-top-4 {
  padding-top: 1rem;
}

.padding-top-5 {
  padding-top: 1.25rem;
}

.padding-top-6 {
  padding-top: 1.5rem;
}

.padding-top-7 {
  padding-top: 1.75rem;
}

.padding-top-8 {
  padding-top: 2rem;
}

.padding-top-9 {
  padding-top: 2.25rem;
}

.padding-top-10 {
  padding-top: 2.5rem;
}

.padding-top-11 {
  padding-top: 2.75rem;
}

.padding-top-12 {
  padding-top: 3rem;
}

.padding-top-13 {
  padding-top: 3.25rem;
}

.padding-top-14 {
  padding-top: 3.5rem;
}

.padding-top-15 {
  padding-top: 3.75rem;
}

.padding-top-16 {
  padding-top: 4rem;
}

.padding-top-17 {
  padding-top: 4.25rem;
}

.padding-top-18 {
  padding-top: 4.5rem;
}

.padding-top-19 {
  padding-top: 4.75rem;
}

.padding-top-20 {
  padding-top: 5rem;
}

.padding-top-21 {
  padding-top: 5.25rem;
}

.padding-top-22 {
  padding-top: 5.5rem;
}

.padding-top-23 {
  padding-top: 5.75rem;
}

.padding-top-24 {
  padding-top: 6rem;
}

.padding-top-25 {
  padding-top: 6.25rem;
}

.padding-top-26 {
  padding-top: 6.5rem;
}

.padding-top-27 {
  padding-top: 6.75rem;
}

.padding-top-28 {
  padding-top: 7rem;
}

.padding-top-29 {
  padding-top: 7.25rem;
}

.padding-top-30 {
  padding-top: 7.5rem;
}

.padding-top-31 {
  padding-top: 7.75rem;
}

.padding-top-32 {
  padding-top: 8rem;
}

.padding-top-33 {
  padding-top: 8.25rem;
}

.padding-top-34 {
  padding-top: 8.5rem;
}

.padding-top-35 {
  padding-top: 8.75rem;
}

.padding-top-36 {
  padding-top: 9rem;
}

.padding-top-37 {
  padding-top: 9.25rem;
}

.padding-top-38 {
  padding-top: 9.5rem;
}

.padding-top-39 {
  padding-top: 9.75rem;
}

.padding-top-40 {
  padding-top: 10rem;
}

.padding-top-41 {
  padding-top: 10.25rem;
}

.padding-top-42 {
  padding-top: 10.5rem;
}

.padding-top-43 {
  padding-top: 10.75rem;
}

.padding-top-44 {
  padding-top: 11rem;
}

.padding-top-45 {
  padding-top: 11.25rem;
}

.padding-top-46 {
  padding-top: 11.5rem;
}

.padding-top-47 {
  padding-top: 11.75rem;
}

.padding-top-48 {
  padding-top: 12rem;
}

.padding-top-49 {
  padding-top: 12.25rem;
}

.padding-top-50 {
  padding-top: 12.5rem;
}

.padding-top-51 {
  padding-top: 12.75rem;
}

.padding-top-52 {
  padding-top: 13rem;
}

.padding-top-53 {
  padding-top: 13.25rem;
}

.padding-top-54 {
  padding-top: 13.5rem;
}

.padding-top-55 {
  padding-top: 13.75rem;
}

.padding-top-56 {
  padding-top: 14rem;
}

.padding-top-57 {
  padding-top: 14.25rem;
}

.padding-top-58 {
  padding-top: 14.5rem;
}

.padding-top-59 {
  padding-top: 14.75rem;
}

.padding-top-60 {
  padding-top: 15rem;
}

.padding-top-61 {
  padding-top: 15.25rem;
}

.padding-top-62 {
  padding-top: 15.5rem;
}

.padding-top-63 {
  padding-top: 15.75rem;
}

.padding-top-64 {
  padding-top: 16rem;
}

.padding-top-65 {
  padding-top: 16.25rem;
}

.padding-top-66 {
  padding-top: 16.5rem;
}

.padding-top-67 {
  padding-top: 16.75rem;
}

.padding-top-68 {
  padding-top: 17rem;
}

.padding-top-69 {
  padding-top: 17.25rem;
}

.padding-top-70 {
  padding-top: 17.5rem;
}

.padding-top-71 {
  padding-top: 17.75rem;
}

.padding-top-72 {
  padding-top: 18rem;
}

.padding-top-73 {
  padding-top: 18.25rem;
}

.padding-top-74 {
  padding-top: 18.5rem;
}

.padding-top-75 {
  padding-top: 18.75rem;
}

.padding-top-76 {
  padding-top: 19rem;
}

.padding-top-77 {
  padding-top: 19.25rem;
}

.padding-top-78 {
  padding-top: 19.5rem;
}

.padding-top-79 {
  padding-top: 19.75rem;
}

.padding-top-80 {
  padding-top: 20rem;
}

.padding-top-81 {
  padding-top: 20.25rem;
}

.padding-top-82 {
  padding-top: 20.5rem;
}

.padding-top-83 {
  padding-top: 20.75rem;
}

.padding-top-84 {
  padding-top: 21rem;
}

.padding-top-85 {
  padding-top: 21.25rem;
}

.padding-top-86 {
  padding-top: 21.5rem;
}

.padding-top-87 {
  padding-top: 21.75rem;
}

.padding-top-88 {
  padding-top: 22rem;
}

.padding-top-89 {
  padding-top: 22.25rem;
}

.padding-top-90 {
  padding-top: 22.5rem;
}

.padding-top-91 {
  padding-top: 22.75rem;
}

.padding-top-92 {
  padding-top: 23rem;
}

.padding-top-93 {
  padding-top: 23.25rem;
}

.padding-top-94 {
  padding-top: 23.5rem;
}

.padding-top-95 {
  padding-top: 23.75rem;
}

.padding-top-96 {
  padding-top: 24rem;
}

.padding-top-97 {
  padding-top: 24.25rem;
}

.padding-top-98 {
  padding-top: 24.5rem;
}

.padding-top-99 {
  padding-top: 24.75rem;
}

.padding-top-100 {
  padding-top: 25rem;
}

.padding-right-0 {
  padding-right: 0rem;
}

.padding-right-1 {
  padding-right: 0.25rem;
}

.padding-right-2 {
  padding-right: 0.5rem;
}

.padding-right-3 {
  padding-right: 0.75rem;
}

.padding-right-4 {
  padding-right: 1rem;
}

.padding-right-5 {
  padding-right: 1.25rem;
}

.padding-right-6 {
  padding-right: 1.5rem;
}

.padding-right-7 {
  padding-right: 1.75rem;
}

.padding-right-8 {
  padding-right: 2rem;
}

.padding-right-9 {
  padding-right: 2.25rem;
}

.padding-right-10 {
  padding-right: 2.5rem;
}

.padding-right-11 {
  padding-right: 2.75rem;
}

.padding-right-12 {
  padding-right: 3rem;
}

.padding-right-13 {
  padding-right: 3.25rem;
}

.padding-right-14 {
  padding-right: 3.5rem;
}

.padding-right-15 {
  padding-right: 3.75rem;
}

.padding-right-16 {
  padding-right: 4rem;
}

.padding-right-17 {
  padding-right: 4.25rem;
}

.padding-right-18 {
  padding-right: 4.5rem;
}

.padding-right-19 {
  padding-right: 4.75rem;
}

.padding-right-20 {
  padding-right: 5rem;
}

.padding-right-21 {
  padding-right: 5.25rem;
}

.padding-right-22 {
  padding-right: 5.5rem;
}

.padding-right-23 {
  padding-right: 5.75rem;
}

.padding-right-24 {
  padding-right: 6rem;
}

.padding-right-25 {
  padding-right: 6.25rem;
}

.padding-right-26 {
  padding-right: 6.5rem;
}

.padding-right-27 {
  padding-right: 6.75rem;
}

.padding-right-28 {
  padding-right: 7rem;
}

.padding-right-29 {
  padding-right: 7.25rem;
}

.padding-right-30 {
  padding-right: 7.5rem;
}

.padding-right-31 {
  padding-right: 7.75rem;
}

.padding-right-32 {
  padding-right: 8rem;
}

.padding-right-33 {
  padding-right: 8.25rem;
}

.padding-right-34 {
  padding-right: 8.5rem;
}

.padding-right-35 {
  padding-right: 8.75rem;
}

.padding-right-36 {
  padding-right: 9rem;
}

.padding-right-37 {
  padding-right: 9.25rem;
}

.padding-right-38 {
  padding-right: 9.5rem;
}

.padding-right-39 {
  padding-right: 9.75rem;
}

.padding-right-40 {
  padding-right: 10rem;
}

.padding-right-41 {
  padding-right: 10.25rem;
}

.padding-right-42 {
  padding-right: 10.5rem;
}

.padding-right-43 {
  padding-right: 10.75rem;
}

.padding-right-44 {
  padding-right: 11rem;
}

.padding-right-45 {
  padding-right: 11.25rem;
}

.padding-right-46 {
  padding-right: 11.5rem;
}

.padding-right-47 {
  padding-right: 11.75rem;
}

.padding-right-48 {
  padding-right: 12rem;
}

.padding-right-49 {
  padding-right: 12.25rem;
}

.padding-right-50 {
  padding-right: 12.5rem;
}

.padding-right-51 {
  padding-right: 12.75rem;
}

.padding-right-52 {
  padding-right: 13rem;
}

.padding-right-53 {
  padding-right: 13.25rem;
}

.padding-right-54 {
  padding-right: 13.5rem;
}

.padding-right-55 {
  padding-right: 13.75rem;
}

.padding-right-56 {
  padding-right: 14rem;
}

.padding-right-57 {
  padding-right: 14.25rem;
}

.padding-right-58 {
  padding-right: 14.5rem;
}

.padding-right-59 {
  padding-right: 14.75rem;
}

.padding-right-60 {
  padding-right: 15rem;
}

.padding-right-61 {
  padding-right: 15.25rem;
}

.padding-right-62 {
  padding-right: 15.5rem;
}

.padding-right-63 {
  padding-right: 15.75rem;
}

.padding-right-64 {
  padding-right: 16rem;
}

.padding-right-65 {
  padding-right: 16.25rem;
}

.padding-right-66 {
  padding-right: 16.5rem;
}

.padding-right-67 {
  padding-right: 16.75rem;
}

.padding-right-68 {
  padding-right: 17rem;
}

.padding-right-69 {
  padding-right: 17.25rem;
}

.padding-right-70 {
  padding-right: 17.5rem;
}

.padding-right-71 {
  padding-right: 17.75rem;
}

.padding-right-72 {
  padding-right: 18rem;
}

.padding-right-73 {
  padding-right: 18.25rem;
}

.padding-right-74 {
  padding-right: 18.5rem;
}

.padding-right-75 {
  padding-right: 18.75rem;
}

.padding-right-76 {
  padding-right: 19rem;
}

.padding-right-77 {
  padding-right: 19.25rem;
}

.padding-right-78 {
  padding-right: 19.5rem;
}

.padding-right-79 {
  padding-right: 19.75rem;
}

.padding-right-80 {
  padding-right: 20rem;
}

.padding-right-81 {
  padding-right: 20.25rem;
}

.padding-right-82 {
  padding-right: 20.5rem;
}

.padding-right-83 {
  padding-right: 20.75rem;
}

.padding-right-84 {
  padding-right: 21rem;
}

.padding-right-85 {
  padding-right: 21.25rem;
}

.padding-right-86 {
  padding-right: 21.5rem;
}

.padding-right-87 {
  padding-right: 21.75rem;
}

.padding-right-88 {
  padding-right: 22rem;
}

.padding-right-89 {
  padding-right: 22.25rem;
}

.padding-right-90 {
  padding-right: 22.5rem;
}

.padding-right-91 {
  padding-right: 22.75rem;
}

.padding-right-92 {
  padding-right: 23rem;
}

.padding-right-93 {
  padding-right: 23.25rem;
}

.padding-right-94 {
  padding-right: 23.5rem;
}

.padding-right-95 {
  padding-right: 23.75rem;
}

.padding-right-96 {
  padding-right: 24rem;
}

.padding-right-97 {
  padding-right: 24.25rem;
}

.padding-right-98 {
  padding-right: 24.5rem;
}

.padding-right-99 {
  padding-right: 24.75rem;
}

.padding-right-100 {
  padding-right: 25rem;
}

.padding-bottom-0 {
  padding-bottom: 0rem;
}

.padding-bottom-1 {
  padding-bottom: 0.25rem;
}

.padding-bottom-2 {
  padding-bottom: 0.5rem;
}

.padding-bottom-3 {
  padding-bottom: 0.75rem;
}

.padding-bottom-4 {
  padding-bottom: 1rem;
}

.padding-bottom-5 {
  padding-bottom: 1.25rem;
}

.padding-bottom-6 {
  padding-bottom: 1.5rem;
}

.padding-bottom-7 {
  padding-bottom: 1.75rem;
}

.padding-bottom-8 {
  padding-bottom: 2rem;
}

.padding-bottom-9 {
  padding-bottom: 2.25rem;
}

.padding-bottom-10 {
  padding-bottom: 2.5rem;
}

.padding-bottom-11 {
  padding-bottom: 2.75rem;
}

.padding-bottom-12 {
  padding-bottom: 3rem;
}

.padding-bottom-13 {
  padding-bottom: 3.25rem;
}

.padding-bottom-14 {
  padding-bottom: 3.5rem;
}

.padding-bottom-15 {
  padding-bottom: 3.75rem;
}

.padding-bottom-16 {
  padding-bottom: 4rem;
}

.padding-bottom-17 {
  padding-bottom: 4.25rem;
}

.padding-bottom-18 {
  padding-bottom: 4.5rem;
}

.padding-bottom-19 {
  padding-bottom: 4.75rem;
}

.padding-bottom-20 {
  padding-bottom: 5rem;
}

.padding-bottom-21 {
  padding-bottom: 5.25rem;
}

.padding-bottom-22 {
  padding-bottom: 5.5rem;
}

.padding-bottom-23 {
  padding-bottom: 5.75rem;
}

.padding-bottom-24 {
  padding-bottom: 6rem;
}

.padding-bottom-25 {
  padding-bottom: 6.25rem;
}

.padding-bottom-26 {
  padding-bottom: 6.5rem;
}

.padding-bottom-27 {
  padding-bottom: 6.75rem;
}

.padding-bottom-28 {
  padding-bottom: 7rem;
}

.padding-bottom-29 {
  padding-bottom: 7.25rem;
}

.padding-bottom-30 {
  padding-bottom: 7.5rem;
}

.padding-bottom-31 {
  padding-bottom: 7.75rem;
}

.padding-bottom-32 {
  padding-bottom: 8rem;
}

.padding-bottom-33 {
  padding-bottom: 8.25rem;
}

.padding-bottom-34 {
  padding-bottom: 8.5rem;
}

.padding-bottom-35 {
  padding-bottom: 8.75rem;
}

.padding-bottom-36 {
  padding-bottom: 9rem;
}

.padding-bottom-37 {
  padding-bottom: 9.25rem;
}

.padding-bottom-38 {
  padding-bottom: 9.5rem;
}

.padding-bottom-39 {
  padding-bottom: 9.75rem;
}

.padding-bottom-40 {
  padding-bottom: 10rem;
}

.padding-bottom-41 {
  padding-bottom: 10.25rem;
}

.padding-bottom-42 {
  padding-bottom: 10.5rem;
}

.padding-bottom-43 {
  padding-bottom: 10.75rem;
}

.padding-bottom-44 {
  padding-bottom: 11rem;
}

.padding-bottom-45 {
  padding-bottom: 11.25rem;
}

.padding-bottom-46 {
  padding-bottom: 11.5rem;
}

.padding-bottom-47 {
  padding-bottom: 11.75rem;
}

.padding-bottom-48 {
  padding-bottom: 12rem;
}

.padding-bottom-49 {
  padding-bottom: 12.25rem;
}

.padding-bottom-50 {
  padding-bottom: 12.5rem;
}

.padding-bottom-51 {
  padding-bottom: 12.75rem;
}

.padding-bottom-52 {
  padding-bottom: 13rem;
}

.padding-bottom-53 {
  padding-bottom: 13.25rem;
}

.padding-bottom-54 {
  padding-bottom: 13.5rem;
}

.padding-bottom-55 {
  padding-bottom: 13.75rem;
}

.padding-bottom-56 {
  padding-bottom: 14rem;
}

.padding-bottom-57 {
  padding-bottom: 14.25rem;
}

.padding-bottom-58 {
  padding-bottom: 14.5rem;
}

.padding-bottom-59 {
  padding-bottom: 14.75rem;
}

.padding-bottom-60 {
  padding-bottom: 15rem;
}

.padding-bottom-61 {
  padding-bottom: 15.25rem;
}

.padding-bottom-62 {
  padding-bottom: 15.5rem;
}

.padding-bottom-63 {
  padding-bottom: 15.75rem;
}

.padding-bottom-64 {
  padding-bottom: 16rem;
}

.padding-bottom-65 {
  padding-bottom: 16.25rem;
}

.padding-bottom-66 {
  padding-bottom: 16.5rem;
}

.padding-bottom-67 {
  padding-bottom: 16.75rem;
}

.padding-bottom-68 {
  padding-bottom: 17rem;
}

.padding-bottom-69 {
  padding-bottom: 17.25rem;
}

.padding-bottom-70 {
  padding-bottom: 17.5rem;
}

.padding-bottom-71 {
  padding-bottom: 17.75rem;
}

.padding-bottom-72 {
  padding-bottom: 18rem;
}

.padding-bottom-73 {
  padding-bottom: 18.25rem;
}

.padding-bottom-74 {
  padding-bottom: 18.5rem;
}

.padding-bottom-75 {
  padding-bottom: 18.75rem;
}

.padding-bottom-76 {
  padding-bottom: 19rem;
}

.padding-bottom-77 {
  padding-bottom: 19.25rem;
}

.padding-bottom-78 {
  padding-bottom: 19.5rem;
}

.padding-bottom-79 {
  padding-bottom: 19.75rem;
}

.padding-bottom-80 {
  padding-bottom: 20rem;
}

.padding-bottom-81 {
  padding-bottom: 20.25rem;
}

.padding-bottom-82 {
  padding-bottom: 20.5rem;
}

.padding-bottom-83 {
  padding-bottom: 20.75rem;
}

.padding-bottom-84 {
  padding-bottom: 21rem;
}

.padding-bottom-85 {
  padding-bottom: 21.25rem;
}

.padding-bottom-86 {
  padding-bottom: 21.5rem;
}

.padding-bottom-87 {
  padding-bottom: 21.75rem;
}

.padding-bottom-88 {
  padding-bottom: 22rem;
}

.padding-bottom-89 {
  padding-bottom: 22.25rem;
}

.padding-bottom-90 {
  padding-bottom: 22.5rem;
}

.padding-bottom-91 {
  padding-bottom: 22.75rem;
}

.padding-bottom-92 {
  padding-bottom: 23rem;
}

.padding-bottom-93 {
  padding-bottom: 23.25rem;
}

.padding-bottom-94 {
  padding-bottom: 23.5rem;
}

.padding-bottom-95 {
  padding-bottom: 23.75rem;
}

.padding-bottom-96 {
  padding-bottom: 24rem;
}

.padding-bottom-97 {
  padding-bottom: 24.25rem;
}

.padding-bottom-98 {
  padding-bottom: 24.5rem;
}

.padding-bottom-99 {
  padding-bottom: 24.75rem;
}

.padding-bottom-100 {
  padding-bottom: 25rem;
}

.padding-left-0 {
  padding-left: 0rem;
}

.padding-left-1 {
  padding-left: 0.25rem;
}

.padding-left-2 {
  padding-left: 0.5rem;
}

.padding-left-3 {
  padding-left: 0.75rem;
}

.padding-left-4 {
  padding-left: 1rem;
}

.padding-left-5 {
  padding-left: 1.25rem;
}

.padding-left-6 {
  padding-left: 1.5rem;
}

.padding-left-7 {
  padding-left: 1.75rem;
}

.padding-left-8 {
  padding-left: 2rem;
}

.padding-left-9 {
  padding-left: 2.25rem;
}

.padding-left-10 {
  padding-left: 2.5rem;
}

.padding-left-11 {
  padding-left: 2.75rem;
}

.padding-left-12 {
  padding-left: 3rem;
}

.padding-left-13 {
  padding-left: 3.25rem;
}

.padding-left-14 {
  padding-left: 3.5rem;
}

.padding-left-15 {
  padding-left: 3.75rem;
}

.padding-left-16 {
  padding-left: 4rem;
}

.padding-left-17 {
  padding-left: 4.25rem;
}

.padding-left-18 {
  padding-left: 4.5rem;
}

.padding-left-19 {
  padding-left: 4.75rem;
}

.padding-left-20 {
  padding-left: 5rem;
}

.padding-left-21 {
  padding-left: 5.25rem;
}

.padding-left-22 {
  padding-left: 5.5rem;
}

.padding-left-23 {
  padding-left: 5.75rem;
}

.padding-left-24 {
  padding-left: 6rem;
}

.padding-left-25 {
  padding-left: 6.25rem;
}

.padding-left-26 {
  padding-left: 6.5rem;
}

.padding-left-27 {
  padding-left: 6.75rem;
}

.padding-left-28 {
  padding-left: 7rem;
}

.padding-left-29 {
  padding-left: 7.25rem;
}

.padding-left-30 {
  padding-left: 7.5rem;
}

.padding-left-31 {
  padding-left: 7.75rem;
}

.padding-left-32 {
  padding-left: 8rem;
}

.padding-left-33 {
  padding-left: 8.25rem;
}

.padding-left-34 {
  padding-left: 8.5rem;
}

.padding-left-35 {
  padding-left: 8.75rem;
}

.padding-left-36 {
  padding-left: 9rem;
}

.padding-left-37 {
  padding-left: 9.25rem;
}

.padding-left-38 {
  padding-left: 9.5rem;
}

.padding-left-39 {
  padding-left: 9.75rem;
}

.padding-left-40 {
  padding-left: 10rem;
}

.padding-left-41 {
  padding-left: 10.25rem;
}

.padding-left-42 {
  padding-left: 10.5rem;
}

.padding-left-43 {
  padding-left: 10.75rem;
}

.padding-left-44 {
  padding-left: 11rem;
}

.padding-left-45 {
  padding-left: 11.25rem;
}

.padding-left-46 {
  padding-left: 11.5rem;
}

.padding-left-47 {
  padding-left: 11.75rem;
}

.padding-left-48 {
  padding-left: 12rem;
}

.padding-left-49 {
  padding-left: 12.25rem;
}

.padding-left-50 {
  padding-left: 12.5rem;
}

.padding-left-51 {
  padding-left: 12.75rem;
}

.padding-left-52 {
  padding-left: 13rem;
}

.padding-left-53 {
  padding-left: 13.25rem;
}

.padding-left-54 {
  padding-left: 13.5rem;
}

.padding-left-55 {
  padding-left: 13.75rem;
}

.padding-left-56 {
  padding-left: 14rem;
}

.padding-left-57 {
  padding-left: 14.25rem;
}

.padding-left-58 {
  padding-left: 14.5rem;
}

.padding-left-59 {
  padding-left: 14.75rem;
}

.padding-left-60 {
  padding-left: 15rem;
}

.padding-left-61 {
  padding-left: 15.25rem;
}

.padding-left-62 {
  padding-left: 15.5rem;
}

.padding-left-63 {
  padding-left: 15.75rem;
}

.padding-left-64 {
  padding-left: 16rem;
}

.padding-left-65 {
  padding-left: 16.25rem;
}

.padding-left-66 {
  padding-left: 16.5rem;
}

.padding-left-67 {
  padding-left: 16.75rem;
}

.padding-left-68 {
  padding-left: 17rem;
}

.padding-left-69 {
  padding-left: 17.25rem;
}

.padding-left-70 {
  padding-left: 17.5rem;
}

.padding-left-71 {
  padding-left: 17.75rem;
}

.padding-left-72 {
  padding-left: 18rem;
}

.padding-left-73 {
  padding-left: 18.25rem;
}

.padding-left-74 {
  padding-left: 18.5rem;
}

.padding-left-75 {
  padding-left: 18.75rem;
}

.padding-left-76 {
  padding-left: 19rem;
}

.padding-left-77 {
  padding-left: 19.25rem;
}

.padding-left-78 {
  padding-left: 19.5rem;
}

.padding-left-79 {
  padding-left: 19.75rem;
}

.padding-left-80 {
  padding-left: 20rem;
}

.padding-left-81 {
  padding-left: 20.25rem;
}

.padding-left-82 {
  padding-left: 20.5rem;
}

.padding-left-83 {
  padding-left: 20.75rem;
}

.padding-left-84 {
  padding-left: 21rem;
}

.padding-left-85 {
  padding-left: 21.25rem;
}

.padding-left-86 {
  padding-left: 21.5rem;
}

.padding-left-87 {
  padding-left: 21.75rem;
}

.padding-left-88 {
  padding-left: 22rem;
}

.padding-left-89 {
  padding-left: 22.25rem;
}

.padding-left-90 {
  padding-left: 22.5rem;
}

.padding-left-91 {
  padding-left: 22.75rem;
}

.padding-left-92 {
  padding-left: 23rem;
}

.padding-left-93 {
  padding-left: 23.25rem;
}

.padding-left-94 {
  padding-left: 23.5rem;
}

.padding-left-95 {
  padding-left: 23.75rem;
}

.padding-left-96 {
  padding-left: 24rem;
}

.padding-left-97 {
  padding-left: 24.25rem;
}

.padding-left-98 {
  padding-left: 24.5rem;
}

.padding-left-99 {
  padding-left: 24.75rem;
}

.padding-left-100 {
  padding-left: 25rem;
}/*# sourceMappingURL=style.css.map */